* {
    box-sizing: border-box;
}

:root {
    --dark: #040000;
}

.georgia {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.courier {
    font-family: 'Courier New', Courier, monospace;
}


body {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial;

}

header {
    background: #e0bb00;
    padding: 40px;
    text-align: center;
    color: var(--dark);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 70px;
    line-height: 80%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


nav {
    display: inline-block;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
}


.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--dark);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif';
}

.header-nav a {
    font-weight: bold;
    font-size: 24px;
    color: white;
}

.contact-nav a {
    text-decoration: none;
    text-align: center;
    color: rgb(37, 15, 230);
    font-size: 50px;
    font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif';
}


li {
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    white-space: nowrap;
    line-height: 2.5;
    font-size: 40px;
}

main {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}


.contact {
    border-style: dotted;
    border-width: 3px;
    padding: 15px;
    margin: 20px;
    flex: 0 0 300px;
    border-radius: 30px;
}


aside {
    flex: 2;
    background-color: #ffde05;
    text-align: left;
    padding: 80px;
    flex-direction: column;
}

.circle {
    border-radius: 50%;
    width: 350px;

}

h1 {
    font-size: large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
}


h2 {
    font-size: 40px;
    line-height: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    white-space: nowrap;
}

.specific {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--dark);
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    width: 50;
    white-space: pre-wrap;
    text-decoration: underline;
    text-align: center; 
}


div h2 {
    text-decoration: underline;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


div header {
    font-weight: bold;
}

p {
    font-size: x-large;
    word-spacing: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

h1.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.experience {
    flex: 3;
    background-color: #fdedb3;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.experience img {
    border-radius: 50%;
    justify-content: center;
}

img:hover {
    box-shadow: 10px 5px 5px rgb(246, 241, 147);
}

.project {
    border-style: dotted;
    border-width: 4px;
    padding: 10px;
    margin: 20px;
    flex: 0 0 300px;
    border-radius: 50px;
    border-color: #91400b;
}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h3 {
    font-size: medium;
    line-height: 2em;
    color: var(--dark);
}


@media screen and (max-width: 992px) {
    header {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    main,
    nav {
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    main,
    nav {
        flex-direction: column;
    }
}
