
* {
    box-sizing: border-box;
}

nav {
    display: inline-block;
    justify-content: center;
    word-spacing: 20px;
}
/* testing the 20px, not a fixed number */


.experience {
    flex: 4;
    background-color: #fdedb3;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.project {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
    flex: 0 0 300px;
    border-radius: 50px;
    /* box-shadow: 10px 5px 5px black; */
}
/* testing out 50 border radius. old value was 30 */

h3 {
    font-size: medium;
    line-height: 2em;
    color: Black;
}
/* testing 2em */
