
* {
    box-sizing: border-box;
}


body {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial;
    
  }

header {
    background: #e0bb00;
    padding: 40px;
    text-align: center;
    color: #000000;
}


nav {
    display: inline-block;
    justify-content: space-evenly;
    background-color: #c6562a;
    height: 50px;
    align-items: center;
}
/* testing the 20px, not a fixed number */


nav a {
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    color: #f8fafd;
  }

main {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
  }


aside {
    flex: 2;
    background-color: #ffde05;
    text-align: left;
    padding: 80px;
    flex-direction: column;
    flex-wrap: wrap;
  }

h1 {
    font-size: large
}


h2 {
  font-size: xx-large;
  line-height: 3em;
}

div {
    justify-content: center;
}

.experience {
    flex: 3;
    background-color: #fdedb3;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
/* took out flex-wrap: wrap and replaced it with flex-direction */

.experience img {
    border-radius: 50%;
    justify-content: center;
}

img:hover {
    box-shadow: 10px 5px 5px rgb(246, 241, 147);
}

.project {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
    flex: 0 0 300px;
    border-radius: 50px;
    /* box-shadow: 10px 5px 5px black; */
}
/* testing out 50 border radius. old value was 30 */

h3 {
    font-size: medium;
    line-height: 2em;
    color: Black;
}
/* testing 2em */
